body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    font-size: 1.2em;
    margin-right: 10px;
}

select {
    padding: 10px;
    font-size: 1em;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f9f9f9;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.btn:hover {
    background-color: #45a049;
}
